#main {
    margin-left: 80px;
    margin-right: 50px;
}

#mainArticleTitle {
    margin: auto;
    width: 55%;
    font-size: 32px;
}

.mainArticleContent {
    font-size: 20px;
    margin-bottom: 10px;
}