#navbar {
    background-color: lightgray;
    height: 40px;
}

#userGreeting {
    font-size: 14px;
    display: inline-block;
}

#logInOut {
    /* display: inline-block; */
    background-color: lightgray;
    box-shadow: 2, 2, 2, black;
    border-left: 1px solid gray;
    border-top: none;
    border-right: none;
    border-bottom: none;
    float: right;
    height: 40px;
}
